@using PlaylistEditorSD1A.App_Code;
@using System.Data;

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="./content/bootstrap.css" />
    <script src="~/Script/jqury-3.0.0.js"></script>
    <script src="~/Script/bootstrap.js"></script>
</head>

<body>
    <div class="jumbotron">
        <h1>Playlist song</h1>
    </div>

    <a class="page-link" href="~/create.cshtml">Toevoegen van een song</a>



</body>

</html>